/* Variables globales de colores */
:root {
  /* Colores principales del proyecto */
  --wood: #b39376;
  --dark-wood: #553f2c;
  --cream: #fdf8e4;
  --accent: #fa9716;
  --panel-bg: rgba(223,204,184,0.9);

  /* Colores secundarios */
  --secondary-color: #c7ae90;
  --accent-color-1: #87765e;
  --accent-color-2: #9b746b;
  --accent-color-3: #909a7d;

  --contrast-color: var(--dark-wood); 

  /* Tema general del estilo */
  --main-color: var(--dark-wood);
  --font-color: var(--dark-wood);
  --font-color-sub: var(--accent-color-1);
  --input-focus: var(--accent);

  --bg-color: var(--panel-bg);
  --bg-color-alt: var(--secondary-color);

  --card-bg: var(--wood);
  --light-font: var(--cream);
  --dark-bg: #2a1f18;

  --font-title: "Medieval";
}

/* Fuente */
@font-face {
  font-family: "Medieval";
  src: url("/font/MedievalSharp-Regular.ttf") format("truetype");
}
