:root{
  --dark-color: #553f2c;
  --second-color: #909a7d;
  --third-color: #9b746b;
  --font-tittle: 'Medieval';
  --accent-font: 'Barber';
}

@font-face {
  font-family: 'Medieval';
  src: url(../public/MedievalSharp-Regular.ttf);
}

@font-face{
  font-family: 'Barber';
  src: url(../public/Barber.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo */
body{
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: flex-start;

  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
  color: white;
}

/* Cabecera */
.header{
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Título */
.name{
  position: relative;
  font-size: 140px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: 'Medieval';
  animation: temblor 0.4s infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@keyframes temblor{
  0%{ transform: translate(2px, -2px) rotate(-0.8deg); }
  25%{ transform: translate(-2px, 2px) rotate(0.6deg); }
  50%{ transform: translate(2px, 2px) rotate(-0.4deg); }
  75%{ transform: translate(-2px, -2px) rotate(0.5deg); }
  100%{ transform: translate(0, 0) rotate(0deg); }
}

/* Icono de Perfil */
.profile{
  position: absolute;
  top: 40px;
  right: 60px;
  width: 50px;
  height: 50px;
  filter: invert(1);
  transition: transform 0.3s ease;
}

.profile:hover{
  transform:scale(1.1);
}

/* Escenario */
.stage{
  position: relative;
  width: 100%;
  height: 880px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

/* Lobo*/
.wolf{
  width: 120px;
  height: 128px;

  background-image: url('../images/wolf-walk.png');
  background-position: 0 0;
  transform: scale(2.5);

  position: absolute;
  top: 30px;
  left: -200px;
  
  animation:
    walk 1s steps(7) infinite,
    move 12s linear normal infinite;
}

@keyframes move{
  0%{translate:0;}
  100%{translate: 2400px;}
}

@keyframes walk{
  from{background-position: 0 0;}
  to{background-position: -1800px;}
}

/* Chica */
/* .girl{
  width: 128px;
  height: 128px;

  background-image: url('../images/girl-run.png');
  transform: scale(1.5);

  position: absolute;
  top: 80px;
  left: -200px;

  animation: 
    walk 2s steps(8) infinite,2
    move 11s linear normal infinite;
} */

/* Botones */
button{
  cursor: pointer;
  font-family: var(--accent-font);
  color: white;
  border: 4px solid white;
  border-radius: 10px;
  background-color: var(--second-color);
  transition: all 0.3s ease;
}

/* Botón principal (JUGAR) */
.play{
  position: absolute;
  bottom: 450px;
  right: 800px;
  
  font-size: 65px;
  width: 300px;
  height: 90px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);

  animation: pulse 1.5s infinite;
}

@keyframes pulse
{
  0%   { box-shadow: 0 0 10px rgba(255,255,255,0.6); }
  50%  { box-shadow: 0 0 25px rgba(255,255,255,1); }
  100% { box-shadow: 0 0 10px rgba(255,255,255,0.6); }
}

.play:hover{
  background-color: var(--dark-color);
  transform: scale(1.2);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
  z-index: 10;
}

/* Botón de Rol */
.rol{
  position: absolute;
  bottom: 330px;
  right: 860px;

  font-size: 50px;
  width: 200px;
  height: 80px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.rol:hover{
  background-color: var(--dark-color);
  transform: scale(1.2);
  z-index: 10;
}

/* Botón de Guía*/
.guide{
  position: absolute;
  bottom: 220px;
  right: 860px;

  font-size: 50px;
  width: 200px;
  height: 80px;
  padding: 10px;

  background-color: var(--second-color);
  border-radius: 10px;
  padding: 0.5rem;
  border: 4px solid white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.guide:hover{
  background-color: var(--dark-color);
  transform: scale(1.2);
  z-index: 10;
}