:root{
  --second-color: #909a7d;
}
@font-face {
  font-family: 'Medieval';
  src: url(../public/MedievalSharp-Regular.ttf);
}

/* Estilos Generales */
body{
  position: relative;            
  width: 500px;
  height: 900px;
  margin: 0 auto;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Nombre */
.name{
  color: white;
  font-family: 'Medieval';
  font-size: 100px;
  width: 300px;
  height: 200px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: 50% 60%;
  animation: temblor 0.4s infinite;
}

@keyframes temblor{
  0%{ transform: translate(2px, -2px) rotate(-0.8deg); }
  25%{ transform: translate(-2px, 2px) rotate(0.6deg); }
  50%{ transform: translate(2px, 2px) rotate(-0.4deg); }
  75%{ transform: translate(-2px, -2px) rotate(0.5deg); }
  100%{ transform: translate(0, 0) rotate(0deg); }
}

/* Perfil */
.profile{
  position: absolute;
  top: 16px;
  left: 1140px;
  width: 45px;
  height: 45px;
  filter: invert();
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Lobo Caminando */
.wolf{
  width: 128px;
  height: 128px;
  background-image: url('../images/wolf-walk.png');
  transform: scale(2.5);
  position: absolute;
  bottom: 700px;
  left: -900px;
  animation:
    walk 1s steps(7) infinite,
    move 10s linear normal infinite;
}

@keyframes move{
  0%{translate:0;}
  100%{translate: 2200px;}
}

@keyframes walk{
  from{background-position: 0 0;}
  to{background-position: -1800px;}
}
