:root{
  --dark-color: #553f2c;
  --second-color: #909a7d;
  --third-color: #9b746b;
  --font-tittle: 'Medieval';
  --accent-font: 'Barber';
}

@font-face {
  font-family: 'Medieval';
  src: url(../public/MedievalSharp-Regular.ttf);
}

@font-face{
  font-family: 'Barber';
  src: url(../public/Barber.otf);
}

/* Estilos Generales */
body{
  position: relative;            
  width: 500px;
  height: 1100px;
  margin: 0 auto;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
}

/* Cabecera */
.header{
  position: relative;
  padding: 1rem 1.5rem;
}

/* Título */
.name{
  display: block;
  font-size: 6rem;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  color: white;
  font-family: 'Medieval';
  animation: temblor 0.4s infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@keyframes temblor{
  0%{ transform: translate(2px, -2px) rotate(-0.8deg); }
  25%{ transform: translate(-2px, 2px) rotate(0.6deg); }
  50%{ transform: translate(2px, 2px) rotate(-0.4deg); }
  75%{ transform: translate(-2px, -2px) rotate(0.5deg); }
  100%{ transform: translate(0, 0) rotate(0deg); }
}

/* Perfil */
.profile{
  position: absolute;
  top: 45px;
  left: 1030px;
  width: 45px;
  height: 45px;
  filter: invert(1);
  transition: transform 0.3s ease;
}

.profile:hover{
  transform:scale(1.1);
}

/* Escenario */
.stage{
  position: relative;
  width: 100%;
  height: 900px;
  text-align: center;
}

/* Lobo*/
.wolf{
  width: 128px;
  height: 128px;
  background-image: url('../images/wolf-walk.png');
  transform: scale(2.5);
  position: absolute;
  bottom: 970px;
  left: -900px;
  animation:
    walk 1s steps(7) infinite,
    move 10s linear normal infinite;
}

@keyframes move{
  0%{translate:0;}
  100%{translate: 2200px;}
}

@keyframes walk{
  from{background-position: 0 0;}
  to{background-position: -1800px;}
}

/* Chica */
.girl{
  width: 128px;
  height: 128px;
  background-image: url('../images/girl-run.png');
  transform: scale(1.5);
  animation: 
    /* walk 2s steps(8) infinite, */
    move 10s linear normal infinite;
}

/* Botón de Jugar */
.play{
  position: absolute;
  bottom: 700px;
  right: 650px;
  
  cursor: pointer;
  font-family: var(--accent-font);
  color: white;
  font-size: 65px;

  background-color: var(--second-color);
  border-radius: 10px;
  padding: 0.6rem;
  width: 300px;
  height: 90px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  border: 4px solid white;
  
  margin-top: 150px;

  animation: pulse 1.5s infinite;
  transition: all 0.3s ease;
}

@keyframes pulse
{
  0%   { box-shadow: 0 0 10px rgba(255,255,255,0.6); }
  50%  { box-shadow: 0 0 25px rgba(255,255,255,1); }
  100% { box-shadow: 0 0 10px rgba(255,255,255,0.6); }
}

.play:hover{
  background-color: var(--dark-color);
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
}

/* Botón de Rol */
.rol{
  position: absolute;
  bottom: 600px;
  right: 700px;

  cursor: pointer;
  font-family: var(--accent-font);
  color: white;
  font-size: 50px;

  background-color: var(--second-color);
  border-radius: 10px;
  padding: 0.6rem;
  width: 200px;
  height: 90px;
  border: 4px solid white;

  transition: all 0.3s ease;
}

.rol:hover{
  background-color: var(--dark-color);
  transform: scale(1.05);
}

/* Botón de Guía*/
.guide{
  position: absolute;
  bottom: 500px;
  right: 700px;

  cursor: pointer;
  font-family: var(--accent-font);
  color: white;
  font-size: 50px;

  background-color: var(--second-color);
  border-radius: 10px;
  padding: 0.5rem;
  width: 200px;
  height: 90px;
  border: 4px solid white;

  transition: all 0.3s ease;
}

.guide:hover{
  background-color: var(--dark-color);
  transform: scale(1.05);
}